<os-header [size]="5">
    {{ demoComponentMetaInfo.title }}
</os-header>

<div class="wrapper">
    <os-tab-group>
        <os-tab
            [selected]="openedSection === sectionEnum.Demo"
            [label]="'Demo'">
            <ng-content></ng-content>
        </os-tab>

        <os-tab
            *ngIf="docComponent"
            [selected]="openedSection === sectionEnum.HTML"
            [label]="'HTML'">
            <api-code
                [language]="'html'"
                [code]="docComponent.templateData">
            </api-code>
        </os-tab>

        <os-tab
            *ngIf="isScssExist"
            [selected]="openedSection === sectionEnum.SCSS"
            [label]="'SCSS'">
            <api-code
                [language]="'css'"
                [code]="docComponent.styleUrlsData[0].data">
            </api-code>
        </os-tab>

        <os-tab
            *ngIf="docComponent"
            [selected]="openedSection === sectionEnum.TS"
            [label]="'TypeScript'">
            <api-code
                [language]="'ts'"
                [code]="docComponent.sourceCode">
            </api-code>
        </os-tab>
    </os-tab-group>
</div>
