<ng-container *ngIf="demoComponents?.length">
    <os-checkbox
        *ngIf="isDevExamplesCheckboxVisible"
        class="dev-examples-toggle"
        [label]="'Show DEV examples'"
        [(isChecked)]="isDevExamplesVisible"
        (isCheckedChange)="onToggleDevMode($event)">
    </os-checkbox>

    <os-header>
        Examples
    </os-header>

    <showcase-example
        *ngFor="let demoComponent of demoComponents"
        [demoComponentMetaInfo]="demoComponent">
    </showcase-example>
</ng-container>
