div[os-dropdown-header],
div[os-dropdown-content],
div[os-dropdown-footer] {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--os-primary-color), .5);
    font-size: 20px;
    color: #fff;
}

div[os-dropdown-content] {
    background: rgb(var(--os-primary-color));
}
