:host {
    max-width: 100% !important;
}

.grid-wrapper {
    width: 100%;
    height: 250px;
    min-height: 250px;
    background-image: url(/assets/showcase/images/bg/5.png);
}

.os-grid {
    .os-grid-item {
        transition: all .3s ease;
    }
}
