<div class="header">
    <os-header [size]="1">
        {{ metaInfo.name }}
    </os-header>

    <os-header [size]="6">
        {{ metaInfo.shortInfo }}
    </os-header>
</div>

<div class="wrapper">
    <div class="menu">
        <demo-menu
            [openedComponentMetaInfo]="metaInfo">
        </demo-menu>
    </div>
    
    <div class="content">
        <demo-examples
            [metaInfo]="metaInfo">
        </demo-examples>

        <demo-api
            [metaInfo]="metaInfo">
        </demo-api>
    </div>
</div>
