<div class="header">
    <os-header [size]="1">
        {{ metaInfo.name }}
    </os-header>
</div>

<div class="wrapper">
    <div class="menu">
        <demo-menu
            [openedComponentMetaInfo]="metaInfo">
        </demo-menu>
    </div>
    
    <div class="content">
        <demonstration-block
            *ngIf="metaInfo.demoComponents && metaInfo.demoComponents[0]"
            [demoComponentMetaInfo]="metaInfo.demoComponents[0]">
            <ng-template #demoTemplate></ng-template>
        </demonstration-block>
        
        <demo-component-block
            *ngFor="let component of components"
            [component]="component"
            [metaInfo]="metaInfo">
        </demo-component-block>
    </div>
</div>