:host {
    display: block;
}

.header {
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    color: rgb(var(--os-white-color));
    background-color: rgba(var(--os-primary-color), .8);

    os-header {
        margin: 0px 0px 0px 30px;
    }
}

.wrapper {
    width: 100%;
    display: flex;

    .menu {
        width: 250px;
        min-width: 250px;
        position: relative;
    }
    
    .content {
        width: 100%;
        display: block;
        padding: 0px 10px;
        margin: 30px auto;
    }
}