:host {
    display: block;
}

.wrapper {
    width: 100%;
    display: flex;

    .menu {
        width: 250px;
        min-width: 250px;
        position: relative;
    }
    
    .content {
        width: 100%;
        display: block;
        overflow: hidden;
        padding: 0px 10px;
        margin: 30px auto;
    }
}