:host {
    width: 100%;
    display: flex;
    background-color: rgba(var(--os-primary-color), .1);
    padding: 8px 15px;
    margin: 10px 0px;
    box-sizing: border-box;

    .readme-icon {
        height: 24px;
        height: 24px;
        margin: 7px 7px 7px 0px;
    }
}
