:host ::ng-deep {
    :first-child {
        margin-top: 7px;
    }

    :last-child {
        margin-bottom: 7px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0px;

        &:not(:first-child) {
            margin-top: 14px;
        }
    }

    p {
        margin: 7px 0px;
    }

    code {
        font-family: inherit;
        background: rgba(var(--os-primary-color), .15);
        padding: 0px 5px;
        box-sizing: border-box;
        border-radius: 3px;
    }

    pre {
        border-radius: 3px;
        background: rgba(0, 0, 0, .7);
        padding: 6px;
        box-sizing: border-box;
        color: #fff;

        code {
            background: transparent;
        }
    }

    a {
        color: rgba(var(--os-primary-color));
        text-decoration: underline;
        font-weight: bold;
    }
}
