<div class="bg-images">
    <button
        osButton
        class="bg-button"
        [style.backgroundImage]="getCustomBackgroundCssUrl()"
        [class.os-focused]="isCurrentBackgroundCustomImage">
    </button>

    <button
        *ngFor="let backgroundUrl of defaultBackgroundUrls"
        osButton
        class="bg-button"
        [style.backgroundImage]="getCssUrl(backgroundUrl)"
        [class.os-focused]="getIsImageSelected(backgroundUrl)"
        (click)="onBackgroundImageClick(backgroundUrl)">
    </button>
</div>

<button
    osButton
    class="custom-image-button"
    (click)="onUploadButtonClick()">
    Apply custom texture
</button>

<input
    #fileUploader
    [style.display]="'none'"
    accept="image/*"
    type="file"
    (change)="onCustomBackgroundUploaded($event)" />
