.os-header-4 {
    margin: 15px 0px;
}

.bg-images {
    width: 461px;
    display: flex;
    flex-wrap: wrap;
}

.bg-button {
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
    margin: 3px;
    box-sizing: border-box;
    background-size: 50%;
    background-position: center;
}

.custom-image-button {
    margin-top: 5px;
}