<div class="bg-images">
    <os-button
        class="bg-button"
        [style.backgroundImage]="getCustomBackgroundCssUrl()"
        [class.os-focused]="isCurrentBackgroundCustomImage">
    </os-button>

    <os-button
        *ngFor="let backgroundUrl of defaultBackgroundUrls"
        class="bg-button"
        [style.backgroundImage]="getCssUrl(backgroundUrl)"
        [class.os-focused]="getIsImageSelected(backgroundUrl)"
        (click)="onBackgroundImageClick(backgroundUrl)">
    </os-button>
</div>

<os-button
    class="custom-image-button"
    (osClick)="onUploadButtonClick()">
    Apply custom texture
</os-button>

<input
    #fileUploader
    [style.display]="'none'"
    accept="image/*"
    type="file"
    (change)="onCustomBackgroundUploaded($event)" />
