.bg-colors {
    width: 550px;
    display: flex;
}

.bg-square {
    width: 55px;
    height: 55px;
    margin: 3px;
    box-sizing: border-box;
    background-size: contain;

    &.selected {
        border: solid 4px #000000;
    }
}
