<os-button
    (osClick)="onUploadButtonClick()">
    Upload custom
</os-button>

<div class="bg-colors">
    <div
        *ngIf="isCurrentBackgroundCustomImage"
        class="bg-square"
        [style.backgroundImage]="getCssUrl(currentBackground.data)"
        [class.selected]="isCurrentBackgroundCustomImage">
    </div>

    <div
        *ngFor="let backgroundUrl of backgroundImages"
        class="bg-square"
        [style.backgroundImage]="getCssUrl(backgroundUrl)"
        [class.selected]="getIsImageSelected(backgroundUrl)"
        (click)="onBackgroundImageClick(backgroundUrl)">
    </div>
</div>

<theme-accent-colors
    [selectedColor]="selectedBackgroundColor"
    (accentColorClick)="onAccentColorClick($event)">
</theme-accent-colors>

<input
    #fileUploader
    [style.display]="'none'"
    accept="image/*"
    type="file"
    (change)="onCustomBackgroundUploaded($event)" />
