:host {
    width: 100%;
    height: 100%;
    display: flex;
    user-select: none;

    &::ng-deep {
        .os-form-field {
            width: 100%;
            max-width: 280px;
        }
    }
}

.sidebar {
    width: 25%;
    min-width: 175px;
    height: 100%;
    display: flex;
}

.content {
    width: 75%;
    height: 100%;
    display: flex;
}
