.container {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    background-color: rgba(var(--os-primary-color), .95);
    color: #fff;
    z-index: 1;
    cursor: default;
}

.context-menu-wrapper {
    min-width: 150px;
}
