<os-header class="title">Made by one person</os-header>

<div class="authors">
    <demo-card [style.visibility]="'hidden'"></demo-card>

    <demo-card class="author">
        <img
            class="author-img"
            src="https://avatars.githubusercontent.com/u/28815991?v=4" />

        <div class="author-info">
            <os-header [size]="3">DreyLiky</os-header>
            <os-text>
                <i>Angular Developer</i><br />
                Ukraine<br />
                dreyliky@gmail.com
            </os-text>
        </div>
    </demo-card>

    <demo-card [style.visibility]="'hidden'"></demo-card>
</div>
