.collapse-icon {
    width: 16px;
    height: 16px;
    transform: rotateZ(90deg);

    &:not(.collapsed) {
        transform: none;
    }
}

os-button::ng-deep {
    button {
        min-width: auto !important;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        border: none;
        background: none;
        cursor: pointer;
    }
}