<os-header [size]="1">
    {{ metaInfo.name }}
</os-header>

<demo-demo-block
    *ngIf="metaInfo.demoComponents && metaInfo.demoComponents[0]"
    [demoComponentMetaInfo]="metaInfo.demoComponents[0]">
    <ng-template #demoTemplate>
    </ng-template>
</demo-demo-block>

<div
    *ngFor="let component of components"
    class="component">
    <os-header [size]="4">
        {{ component.name }}
    </os-header>

    <os-text>
        Selector: <b>{{ component.selector }}</b>
    </os-text>

    <demo-properties
        [metaInfo]="metaInfo"
        [component]="component">
    </demo-properties>

    <demo-methods
        [metaInfo]="metaInfo"
        [component]="component">
    </demo-methods>
</div>