<os-header [size]="1">
    {{ description.name }}
</os-header>

<demo-demo-block>
    <ng-template #demoTemplate>
    </ng-template>
</demo-demo-block>

<div
    *ngFor="let component of components"
    class="component">
    <os-header [size]="4">
        {{ component.name }}
    </os-header>

    <demo-properties
        [description]="description"
        [component]="component">
    </demo-properties>

    <demo-methods
        [description]="description"
        [component]="component">
    </demo-methods>
</div>