<os-header [size]="1">
    {{ description.name }}
</os-header>

<doc-demo-block>
    <ng-template #demoTemplate>
    </ng-template>
</doc-demo-block>

<div
    *ngFor="let component of components"
    class="component">
    <os-header [size]="4">
        {{ component.name }}
    </os-header>

    <doc-properties
        [description]="description"
        [component]="component">
    </doc-properties>

    <doc-methods
        [description]="description"
        [component]="component">
    </doc-methods>
</div>