:host {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: auto;
}

.component {
    border-left: solid 2px blue;
    border-bottom: solid 4px blue;
    background: rgba(blue, .05);
    padding: 10px;
    margin-bottom: 25px;

    os-header {
        color: blue;

        &::ng-deep {
            h4 {
                margin-top: 0px !important;
                font-weight: bold;
            }
        }
    }
}