<div
    *ngIf="methods.length"
    class="title">
    <demo-collapse-button
        [isCollapsed]="isCollapsed"
        (pressed)="onCollapseButtonClick()">
    </demo-collapse-button>

    <os-header [size]="6">
        <img height="16" src="/assets/icons/dev/method.png" />
        Methods
    </os-header>
</div>

<div
    *ngIf="isCollapsed"
    class="content">
    <table>
        <thead>
            <tr>
                <th>
                    <os-text>Method</os-text>
                </th>

                <th>
                    <os-text>Parameters</os-text>
                </th>

                <th>
                    <os-text>Returns</os-text>
                </th>

                <th class="description-col">
                    <os-text>Description</os-text>
                </th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let method of methods">
                <td class="method-name-col">
                    <os-text>{{ method.name }}</os-text>
                </td>

                <td>
                    <os-text>
                        <ng-container *ngFor="let arg of method.args; let argInd = index">
                            {{ arg.name }}: {{ arg.type }}<br />
                        </ng-container>
                    </os-text>
                </td>

                <td>
                    <os-text>{{ method.returnType }}</os-text>
                </td>

                <td>
                    <os-text>
                        <span [innerHTML]="method?.description"></span>
                    </os-text>
                </td>
            </tr>
        </tbody>
    </table>
</div>