<div class="wrapper">
    <p>fullscreen-test-app works!</p>

    <div
        [os-draggable]="{
            movableElement: windowElement,
            isAllowMoveElement: !isWindowFullscreen
        }"
        class="dragger"
        [class.active]="!isWindowFullscreen">
        Drag window
    </div>

    <div class="action-buttons">
        <os-button
            (OnClick)="onToggleTitleBarButtonClick()">
            Toggle title bar
        </os-button>

        <os-button
            (OnClick)="onToggleFullscreenButtonClick()">
            Toggle fullscreen
        </os-button>

        <os-button
            (OnClick)="onCloseButtonClick()">
            Close window
        </os-button>
    </div>
</div>