.os-header-5 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 0px;
    font-weight: bold;

    img {
        margin-right: 5px;
    }
}

.enum {
    padding: 10px;
    margin: 12px 0px;
}
