<os-header [size]="5">
    <span *ngIf="demoComponentMetaInfo.isOnlyForDevEnv">=== DEV:</span>
    {{ demoComponentMetaInfo.title }}

    <a
        class="show-isolated-button"
        [routerLink]="isolatedPath">
        <button osButtonLink>Isolate mode</button>
    </a>

    <button
        osButtonLink
        (click)="onOpenInsideDynamicWindowButtonClick()">
        Inside Dynamic Window
    </button>
</os-header>

<div class="wrapper">
    <section
        os-tab-group
        [(selectedTabIndex)]="openedSection">
        <os-tab [label]="'Demo'">
            <div class="example-wrapper">
                <ng-template #exampleTemplate></ng-template>
            </div>
        </os-tab>

        <os-tab
            *ngIf="docComponent"
            [label]="'HTML'">
            <ng-template osTabContent>
                <showcase-code-viewer
                    [language]="'html'"
                    [code]="docComponent.templateData">
                </showcase-code-viewer>
            </ng-template>
        </os-tab>

        <os-tab
            *ngIf="isScssExist"
            [label]="'SCSS'">
            <ng-template osTabContent>
                <showcase-code-viewer
                    [language]="'scss'"
                    [code]="docComponent.styleUrlsData[0].data">
                </showcase-code-viewer>
            </ng-template>
        </os-tab>

        <os-tab
            *ngIf="docComponent"
            [label]="'TypeScript'">
            <ng-template osTabContent>
                <showcase-code-viewer
                    [language]="'ts'"
                    [code]="docComponent.sourceCode">
                </showcase-code-viewer>
            </ng-template>
        </os-tab>
    </section>
</div>
