<os-header [size]="5">
    <span *ngIf="demoComponentMetaInfo.isOnlyForDevEnv">=== DEV:</span>
    {{ demoComponentMetaInfo.title }}
</os-header>

<div class="wrapper">
    <os-tab-group [(selectedTabIndex)]="openedSection">
        <os-tab [label]="'Demo'">
            <ng-template #exampleTemplate></ng-template>
        </os-tab>

        <os-tab
            *ngIf="docComponent"
            [label]="'HTML'">
            <ng-template #tabContent>
                <showcase-code-viewer
                    [language]="'html'"
                    [code]="docComponent.templateData">
                </showcase-code-viewer>
            </ng-template>
        </os-tab>

        <os-tab
            *ngIf="isScssExist"
            [label]="'SCSS'">
            <ng-template #tabContent>
                <showcase-code-viewer
                    [language]="'scss'"
                    [code]="docComponent.styleUrlsData[0].data">
                </showcase-code-viewer>
            </ng-template>
        </os-tab>

        <os-tab
            *ngIf="docComponent"
            [label]="'TypeScript'">
            <ng-template #tabContent>
                <showcase-code-viewer
                    [language]="'ts'"
                    [code]="docComponent.sourceCode">
                </showcase-code-viewer>
            </ng-template>
        </os-tab>
    </os-tab-group>
</div>
