:host {
    width: 100%;
    display: flex;
    background-color: rgba(var(--os-primary-color), .1);
    padding: 8px 15px;
    margin: 10px 0px;
    box-sizing: border-box;

    .readme-icon {
        height: 24px;
        height: 24px;
        margin: 7px 7px 7px 0px;
    }

    &::ng-deep {
        h1, h2, h3, h4, h5, h6 {
            margin: 0px;
        }

        p {
            margin: 7px 0px;
        }

        code {
            font-family: inherit;
            background: rgba(var(--os-primary-color), .3);
            padding: 0px 6px;
            box-sizing: border-box;
            border-radius: 3px;
        }
    }
}
