:host {
    width: 100%;
    display: flex;
    background-color: rgba(var(--os-primary-color), .1);
    padding: 8px 15px;
    margin: 10px 0px;
    box-sizing: border-box;

    .readme-icon {
        height: 24px;
        height: 24px;
        margin: 7px 7px 7px 0px;
    }

    &::ng-deep {
        :first-child {
            margin-top: 7px;
        }

        :last-child {
            margin-bottom: 7px;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0px;

            &:not(:first-child) {
                margin-top: 14px;
            }
        }

        p {
            margin: 7px 0px;
        }

        code {
            font-family: inherit;
            background: rgba(var(--os-primary-color), .15);
            padding: 0px 5px;
            box-sizing: border-box;
            border-radius: 3px;
        }

        pre {
            &.language-scss {
                border-radius: 3px;
                background: rgba(0, 0, 0, .7);
                padding: 6px;
                box-sizing: border-box;

                code {
                    background: transparent;
                    color: #fff;
                    border-radius: 0px;
                }
            }
        }
    }
}
