<div
    *ngIf="outputs.length"
    class="title">
    <demo-collapse-button
        [isCollapsed]="isCollapsed"
        (pressed)="onCollapseButtonClick()">
    </demo-collapse-button>

    <os-header [size]="6">
        <img height="16" src="/assets/icons/dev/method.png" />
        Events
    </os-header>
</div>

<div
    *ngIf="isCollapsed"
    class="content">
    <table>
        <thead>
            <tr>
                <th>
                    <os-text>Name</os-text>
                </th>

                <th>
                    <os-text>Type</os-text>
                </th>
    
                <th class="description-col">
                    <os-text>Description</os-text>
                </th>
            </tr>
        </thead>

        <tbody>
    
            <tr *ngFor="let outputProp of outputs">
                <td class="prop-name-col">
                    <os-text>{{ outputProp.name }}</os-text>
                </td>

                <td>
                    <os-text>{{ outputProp.type }}</os-text>
                </td>
    
                <td class="prop-metaInfo-col">
                    <os-text>
                        <span [innerHTML]="outputProp?.description"></span>
                    </os-text>
                </td>
            </tr>
        </tbody>
    </table>
</div>