:host {
    width: 100%;
    display: block;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;

    os-header::ng-deep {
        h6 {
            margin-bottom: 0px;
        }
    }
}

.content {
    margin-top: 8px;
}

table {
    width: 100%;
    border-collapse: collapse; 

    thead {
        th {
            text-align: left;
            height: 50px;
            background: rgb(243, 243, 243);
            border: solid 1px rgb(243, 243, 243);
            padding: 5px;

            &.description-col {
                width: 60% !important;
            }
        }
    }

    tbody {
        tr {
            border: solid 1px rgb(243, 243, 243);

            .prop-description-col {
                padding: 5px;
                background-color: rgba(blue, .03);
            }
        }

        .prop-name-col {
            font-weight: bold;
        }

        td {
            padding: 10px;
            font-size: 12px;
        }
    }
}