:host {
    width: 461px;
    display: flex;
    flex-wrap: wrap;
}

.color-button {
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
    margin: 3px;
    box-sizing: border-box;
}
