:host {
    width: 461px;
    display: flex;
    flex-wrap: wrap;
}

.color-square {
    width: 55px;
    height: 55px;
    margin: 3px;
    box-sizing: border-box;

    &.selected {
        border: solid 4px #000000;
    }
}
