<os-list>
    <os-list-item
        [style]="{ height: 'auto' }"
        (osClick)="onScrollTopButtonClick()">
        <div class="icon-wrapper">
            <img
                class="icon"
                src="/assets/icons/dev/examples.svg" />
        </div>

        <div class="name">
            <os-text>Examples</os-text>
        </div>
    </os-list-item>

    <os-list-item
        *ngFor="let apiPlanItem of apiPlanItems"
        [style]="{ height: 'auto' }"
        [isSelected]="apiPlanItem.name === routeFragment"
        [value]="apiPlanItem"
        (osClick)="onApiPlanItemSelected(apiPlanItem)">
        <div class="icon-wrapper">
            <img
                class="icon"
                [attr.src]="apiPlanItem.iconUrl" />
        </div>

        <div
            [attr.title]="apiPlanItem.name"
            class="name">
            <os-text>{{ apiPlanItem.name }}</os-text>
        </div>
    </os-list-item>
</os-list>
