:host {
    width: inherit;
    position: sticky;
    display: block;
    top: 0;
    padding: 5px;
    box-sizing: border-box;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
}

.icon-wrapper {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    box-sizing: border-box;
    margin-right: 3px;
}

.icon {
    height: 100%;
}
