<os-list>
    <os-list-item
        *ngFor="let listItem of apiPlanItems"
        [style]="{ height: 'auto' }"
        [isSelected]="listItem.name === routeFragment"
        [value]="listItem"
        (osClick)="onListItemClick(listItem)">
        <div class="icon-wrapper">
            <img
                class="icon"
                [attr.src]="listItem.iconUrl" />
        </div>

        <div
            [attr.title]="listItem.name"
            class="name">
            <os-text>{{ listItem.name }}</os-text>
        </div>
    </os-list-item>
</os-list>
