<os-list *ngIf="(metaInfo$ | async) as metaInfo">
    <os-form-field class="search-container">
        <os-text-box
            [placeholder]="'Search'"
            (osKeyUp)="onSearch($event)">
        </os-text-box>
    </os-form-field>

    <os-list-item
        *ngFor="let component of (filteredComponents$ | async)"
        [isSelected]="metaInfo.type === component.type"
        [value]="component"
        (osSelected)="onComponentOptionSelected($event)">
        <div class="icon-wrapper">
            <img
                class="icon"
                [attr.src]="component.imageUrl" />
        </div>
        
        <os-text>{{ component.name }}</os-text>
    </os-list-item>
</os-list>
