<os-scroll-view>
    <div class="wrapper">
        <os-header [size]="3">{{ selectedSection.name }}</os-header>

        <ng-container [ngSwitch]="selectedSection.id">
            <settings-general-section
                *ngSwitchCase="sectionEnum.General">
            </settings-general-section>

            <settings-theme-section
                *ngSwitchCase="sectionEnum.Theme">
            </settings-theme-section>

            <settings-accent-color-section
                *ngSwitchCase="sectionEnum.AccentColor">
            </settings-accent-color-section>

            <settings-background-section
                *ngSwitchCase="sectionEnum.Background">
            </settings-background-section>

            <settings-shortcuts-section
                *ngSwitchCase="sectionEnum.Shortcuts">
            </settings-shortcuts-section>

            <settings-taskbar-section
                *ngSwitchCase="sectionEnum.Taskbar">
            </settings-taskbar-section>
        </ng-container>
    </div>
</os-scroll-view>
