<form [formGroup]="formGroup">
    <os-form-field [isStacked]="true">
        <os-label>Direction</os-label>
        
        <os-dropdown
            [placeholder]="'Choose direction'"
            [formControl]="formGroup.controls.direction">
            <os-dropdown-item [data]="gridDirectionEnum.Horizontal">Horizontal</os-dropdown-item>
            <os-dropdown-item [data]="gridDirectionEnum.Vertical">Vertical</os-dropdown-item>
        </os-dropdown>
    </os-form-field>
    
    <os-form-field [isStacked]="true">
        <os-slider
            [min]="50"
            [max]="150"
            [label]="'Size'"
            [minValueLabel]="'50 pixels'"
            [maxValueLabel]="'150 pixels'"
            [formControl]="formGroup.controls.cellSize">
        </os-slider>
    </os-form-field>
</form>
