:host {
    width: 100%;
    display: block;
    padding: 15px;
    background-color: rgba(0, 0, 0, .03);
    box-sizing: border-box;

    @media (max-width: 950px) {
        .authors {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.title {
    text-align: center;

    .title-icon {
        height: 32px;
        margin-left: 5px;
    }
}

.authors {
    width: 100%;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    flex: 1 1 0px;
}

.author {
    flex-basis: 100%;

    .author-img {
        width: 156px;
        height: 156px;
        border-radius: 50%;
    }
    
    .author-info {
        margin-left: 15px;
    }
}
