<ng-container *ngIf="(metaInfo$ | async) as metaInfo">
    <img
        height="48"
        [attr.src]="metaInfo.imageUrl" />

    <div class="description">
        <os-header [size]="1">
            {{ metaInfo.name }}
        </os-header>
        
        <os-header [size]="6">
            {{ metaInfo.shortInfo }}
        </os-header>
    </div>

    <div class="action-buttons">
        <a
            target="_blank"
            [attr.href]="sourceCodeLink">
            <button osButton class="source-code">
                Source code
            </button>
        </a>
    </div>
</ng-container>
