:host {
    width: 100%;
    min-height: 125px;
    display: flex;
    align-items: center;
    color: #fff;
    background: linear-gradient(
        180deg,
        rgba(var(--os-primary-color), 1),
        rgba(var(--os-primary-color), .7)
    );
    padding-left: 30px;
    box-sizing: border-box;
}

os-header {
    margin: 0px;
}

.description {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
}

.action-buttons {
    display: flex;
    margin-left: auto;
    margin-right: 30px;

    a {
        text-decoration: none;
    }
}
