.os-textarea-box {
    width: 100%;

    textarea {
        width: 100%;
        min-width: 70px;
        max-width: 100%;
        min-height: 30px;
        font-size: 11px;
        padding: 3px 4px;
        border: 1px solid #7f9db9;
        background-color: #ffffff;
        box-sizing: border-box;
        appearance: none;
        border-radius: 0;
        -webkit-font-smoothing: antialiased;

        &:focus {
            outline: none;
        }

        &[disabled] {
            background-color: #ece9d8;
            border: solid 1px rgba(0, 0, 0, .2);
            color: #aca899;
        }
    }
}
