.os-button {
    min-width: 75px;
    min-height: 23px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    font-size: 11px;
    box-sizing: border-box;
    border: 1px solid #003c74;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(236, 235, 229, 1) 86%,
        rgba(216, 208, 196, 1) 100%
    );
    box-shadow: none;
    border-radius: 3px;
    user-select: none;
    cursor: default;
    color: rgb(0, 0, 0);

    &.os-disabled {
        color: #b1b1af;
    }

    &:not(.os-disabled) {
        &:active,
        &.os-active {
            box-shadow: none;
            background: linear-gradient(
                180deg,
                rgba(205, 202, 195, 1) 0%,
                rgba(227, 227, 219, 1) 8%,
                rgba(229, 229, 222, 1) 94%,
                rgba(242, 242, 241, 1) 100%
            );
        }

        &:hover {
            box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
        }
    }

    &:focus,
    &.os-focused {
        outline: 1px dotted #000000;
        outline-offset: -4px;
        box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4,
            inset 2px -2px #89ade4;
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

.os-button-link {
    line-height: 11px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0px;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-radius: 0px;
    font-weight: 500;
    font-size: 11px;
    outline: 0;
    user-select: none;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(var(--os-primary-color));

    &.os-disabled {
        color: #aca899;
        cursor: default;
    }

    &:not(.os-disabled) {
        &:focus,
        &.os-focused {
            outline: 1px dotted #000000;
            text-decoration: none;
        }
    }
}
