@import "../core/index.scss";

:root {
    /** STABLE VARIABLES API */
    --os-primary-color: 34, 102, 203;
    --os-background-color: 236, 233, 216;
}

@font-face {
    font-family: Tahoma;
    src: url("/assets/themes/core/fonts/tahoma.ttf");
    font-weight: normal;
    font-style: normal;
}

.os-element {
    font-size: 12px;
    font-family: Tahoma;
}
