.os-group-box {
    border: 1px solid #d0d0bf;
    box-shadow: none;
    padding: 10px;
    padding-block-start: 8px;
    margin: 0;
    background: white;
    border-radius: 4px;
    padding-top: 10px;

    legend {
        background: transparent;
        color: rgb(var(--os-primary-color));
    }
}
