@import "./base/option.scss";

.os-list {
    width: 100%;
    display: block;
    border: solid 1px #000000;
    background-color: #ffffff;
    cursor: default;
    user-select: none;
    box-sizing: border-box;

    .os-scroll-view {
        height: 100%;
    }
}

.os-list-item {
    @include os-base-option;
}
