.os-radio-button {
    display: block;
    margin: 8px 0px;

    input[type="radio"] {
        width: 0;
        height: 0;
        appearance: none;
        margin: 0;
        background: 0;
        position: fixed;
        opacity: 0;
        border: none;

        + label {
            height: 13px;
            position: relative;
            margin-left: 19px;

            &::before {
                width: 13px;
                height: 13px;
                display: inline-block;
                position: absolute;
                top: 0;
                left: -19px;
                margin-right: 6px;
                background-image: url('/assets/themes/winXP/icons/radio-button.png');
                content: "";
            }
        }

        &:not([disabled]):not(:active) + label:hover:before {
            background-position: 0px -13px;
        }

        &:checked + label:after {
            width: 5px;
            height: 5px;
            display: block;
            top: 4px;
            left: -15px;
            content: "";
            position: absolute;
            background: url("/assets/themes/winXP/icons/radio-button-checkmark.png");
        }

        &:focus + label:not(:empty) {
            outline: 1px dotted #000000;
        }

        &:disabled {
            + label {
                color: #a1a192;

                &::before {
                    background-position: 0px -39px;
                }
            }
    
            &:checked + label::after {
                background-position: 0px -5px;
            }
        }
    }

    &:active:not(.os-disabled) input + label:before {
        background-position: 0px -26px !important;
    }
}
