os-header::ng-deep h5 {
    margin-top: 25px;
    margin-bottom: 0px;
}

os-text-box::ng-deep {
    .selector {
        width: auto !important; 
        margin-left: 10px;
        margin-top: 4px;
        white-space: nowrap;
        color: blue !important;
        font-weight: bold;
        user-select: all !important;
    }
}

.component {
    border-left: solid 2px blue;
    padding: 10px;
    margin: 12px 0px;

    os-header {
        color: blue;

        &::ng-deep {
            h4 {
                margin-top: 0px !important;
                font-weight: bold;
            }
        }
    }
}