<os-header [size]="5">
    {{ component.name }}
</os-header>

<div class="component">
    <os-text-box
        [styleClass]="'selector'"
        [label]="'Selector'"
        [size]="component.selector.length"
        [isReadonly]="true"
        [value]="component.selector">
    </os-text-box>

    <os-text [innerHTML]="component.readme"></os-text>

    <demo-properties
        [metaInfo]="metaInfo"
        [component]="component">
    </demo-properties>

    <demo-events
        [metaInfo]="metaInfo"
        [component]="component">
    </demo-events>

    <demo-methods
        [metaInfo]="metaInfo"
        [component]="component">
    </demo-methods>
</div>