.title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 0px;
}

table.content {
    width: 100%;
    margin-top: 8px;
    border-collapse: collapse;

    tr {
        border-bottom: solid 1px rgba(0, 0, 0, .1);
    }

    td {
        &.property-name-col {
            width: 250px;
            font-weight: bold;
        }

        padding: 10px;
        font-size: 12px;
    }
}
