<div class="wrapper">
    <os-header [size]="3">Os Elements</os-header>

    <os-form-field [isStacked]="true">
        <os-label>Enter your first and last name</os-label>

        <input
            osInput
            placeholder="For example John Smith" />
    </os-form-field>

    <os-form-field [isStacked]="true">
        <os-label>Description</os-label>

        <textarea
            osInput
            placeholder="Tell about yourself"
        ></textarea>
    </os-form-field>

    <os-form-field [isStacked]="true">
        <os-label>Role</os-label>

        <os-dropdown
            [ngModel]="3"
            [placeholder]="'Choose item'">
            <os-dropdown-item [data]="1">User</os-dropdown-item>
            <os-dropdown-item [data]="2">Moderator</os-dropdown-item>
            <os-dropdown-item [data]="3">Admin</os-dropdown-item>
        </os-dropdown>
    </os-form-field>

    <fieldset
        os-group-box
        [label]="'Choose your gender'">
        <os-radio-button
            [name]="'gender'">
            Male
        </os-radio-button>

        <os-radio-button
            [name]="'gender'">
            Female
        </os-radio-button>
    </fieldset>

    <os-form-field>
        <os-slider
            [label]="'Age'"
            [minValueLabel]="'Min'"
            [maxValueLabel]="'Max'"
            [min]="14"
            [max]="120"
            [ngModel]="18">
        </os-slider>
    </os-form-field>

    <os-form-field>
        <os-checkbox>
            I agree to the processing of my personal data
        </os-checkbox>
    </os-form-field>

    <section os-tab-group>
        <os-tab [label]="'Tab 1'">
            Tab 1 content
        </os-tab>

        <os-tab [label]="'Tab 2'">
            <os-text>
                Tab 2 content
            </os-text>
        </os-tab>
    </section>

    <button os-button>
        Submit
    </button>
</div>
