.os-checkbox {
    display: block;
    position: relative;
    user-select: none;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;

        + label {
            display: flex;
            align-items: center;
            position: relative;
            font-size: 14px;

            &:before {
                content: "";
                display: inline-block;
                height: 16px;
                width: 16px;
                margin-right: 8px;
                background-color: transparent;
                border: solid 2px #333333;
                transition: ease 0.1s all;
            }
        }

        &:checked + label {
            &:before {
                background-color: rgb(var(--os-primary-color));
                border: solid 2px transparent;
            }

            &:after {
                content: "";
                top: 42%;
                width: 4px;
                height: 8px;
                position: absolute;
                left: 8px;
                transition: ease 0.2s all;
                border: solid white;
                border-width: 0 1px 1px 0;
                transform: translate(0,-50%) rotate(45deg) scale(1.5);
            }
        }
    }

    &:hover:not(.os-disabled) label:before {
        border: solid 2px #000000 !important;
    }

    &.os-disabled {
        color: #acacac;

        input[type="checkbox"] {
            + label:before {
                border: solid 2px #acacac;
            }

            &:checked + label {
                &:before {
                    background-color: transparent;
                }

                &:after {
                    border: solid #acacac;
                    border-width: 0 1px 1px 0;
                }
            }
        }
    }
}
