.os-group-box {
    fieldset {
        border: 0px;
        padding: 0px;
    }

    legend {
        background: transparent;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 24px;
    }
}
