.os-tab-group {
    menu[role="tablist"] {
        position: relative;
        margin: 0 0 -2px 0;
        text-indent: 0;
        list-style-type: none;
        display: flex;
        padding-left: 3px;

        .os-button {
            min-width: 10px;
            height: 42px;
            font-size: 20px;
            font-weight: 400;
            background: transparent;
            border: solid 2px transparent;
            color: #666666;
            margin: 0px;

            &:hover {
                color: #333333;
                border-color: transparent;
            }

            &:active {
                transform: none;
                background-color: transparent;
            }

            &[aria-selected="true"] {
                color: #000000;
                border-bottom: solid 2px rgb(var(--os-primary-color));
            }

            &.os-disabled {
                color: #cccccc;
            }
        }
    }

    [role="tabpanel"] {
        padding: 14px;
        margin-bottom: 9px;
    }
}
