.os-text {
    font-family: Segoe UI, Arial;
    -webkit-font-smoothing: antialiased;
}

.os-header {
    display: block;
    font-family: "Arial";
    font-weight: 400;
    margin: 0px 0px 24px 0px;

    &.os-header-1 {
        font-size: 2.3em;
    }

    &.os-header-2 {
        font-size: 2.1em;
    }

    &.os-header-3 {
        font-size: 1.9em;
    }

    &.os-header-4 {
        font-size: 1.7em;
    }

    &.os-header-5 {
        font-size: 1.5em;
    }

    &.os-header-6 {
        font-size: 1.3em;
    }
}
