.os-button {
    min-width: 75px;
    height: 31px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 18px;
    font-family: var(--segoe-ui);
    box-sizing: border-box;
    border: 2px solid transparent;
    background: rgb(215, 215, 215);
    border-radius: 0px;
    font-weight: 500;
    font-size: 14px;
    outline: 0;
    flex-shrink: 0;
    transition: ease transform 0.5s;
    user-select: none;
    cursor: default;
    color: #000;

    &.os-disabled {
        color: #909090;
    }

    &:not(.os-disabled) {
        &:active,
        &.os-active {
            background-color: #999999;
            border-color: rgba(255,255,255,0.1);
            transform: scale(0.96);
            transition: ease all 0.1s;
        }

        &:hover {
            border-color: rgba(0, 0, 0, .4);
        }

        &:focus,
        &.os-focused {
            border: solid 2px #000;
        }
    }
}

.os-button-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
    font-family: var(--segoe-ui);
    box-sizing: border-box;
    border: solid 2px transparent;
    background: transparent;
    border-radius: 0px;
    font-weight: 500;
    font-size: 14px;
    outline: 0;
    user-select: none;
    cursor: pointer;
    color: rgb(var(--os-primary-color));

    &.os-disabled {
        color: #909090;
        cursor: default;
    }

    &:not(.os-disabled) {
        &:hover {
            color: #7d7d7d;
        }

        &:active,
        &.os-active {
            color: #acacac;
        }

        &:not(:active, .os-active) {
            &:focus,
            &.os-focused {
                border: solid 2px #000;
            }
        }
    }
}
