.os-input {
    width: 100%;
    height: fit-content;
    padding: 4px 8px;
    outline: 0;
    font-size: 16px;
    border: 2px solid #999999;
    border-radius: 0;
    transition: ease border 0.1s;
    box-sizing: border-box;
    font-family: var(--segoe-ui);

    &::-webkit-input-placeholder {
        color: #666666;
        font-family: var(--segoe-ui);
    }

    &::-moz-placeholder {
        color: #666666;
        font-family: var(--segoe-ui);
    }

    &:hover {
        border-color: #666666;
    }

    &:focus {
        border-color: rgb(var(--os-primary-color));
    }

    &:disabled {
        background-color: #cccccc;
        color: #919191;
        border: solid 2px #cccccc;
    }

    &.ng-touched.ng-invalid {
        background-color: rgba(var(--os-danger-color), .05);
    }
}
