@import "./base/option.scss";

.os-list {
    width: 100%;
    display: block;
    border: solid 1px rgb(215, 215, 215);
    background-color: rgb(242, 242, 242);
    cursor: default;
    user-select: none;
    padding: 7px 1px;
    box-sizing: border-box;

    .os-scroll-view {
        height: 100%;
    }
}

.os-list-item {
    @include os-base-option;
}
