.os-tab-group {
    menu[role="tablist"] {
        position: relative;
        margin: 0;
        text-indent: 0;
        list-style-type: none;
        display: flex;
        padding-left: 0px;

        .os-button {
            min-width: 10px;
            height: 29px;
            background-color: #ededed;
            color: #2b2b2d;
            text-align: left;
            padding: 9px 18px;
            outline: none !important;
            border: solid 2px transparent;

            &:hover {
                color: #333333;
                border-color: transparent;
            }

            &:active {
                transform: none;
            }

            &[aria-selected="true"] {
                position: relative;
                background-color: #f7f7f7;
                color: #000000;
                box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%);
                z-index: 2;

                &::after {
                    width: calc(100% + 4px);
                    height: 5px;
                    content: "";
                    position: absolute;
                    bottom: -7px;
                    left: -2px;
                    background-color: #f7f7f7;
                }
            }

            &.os-disabled {
                color: #a1a1a1;
                background-color: #e2e2e2;
            }
        }
    }

    [role="tabpanel"] {
        padding: 14px;
        margin-bottom: 9px;
        border-top: solid 1px #eaeaea;
        background-color: #f7f7f7;
        box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
    }
}
