.os-textarea-box {
    width: 100%;
    font-family: var(--segoe-ui);

    textarea {
        width: 100%;
        min-width: 70px;
        max-width: 100%;
        min-height: 30px;
        padding: 4px 8px;
        outline: 0;
        font-size: 14px;
        border: 2px solid #999999;
        border-radius: 0;
        transition: ease border 0.1s;
        box-sizing: border-box;

        &::-webkit-input-placeholder {
            color: #666666;
            font-family: var(--segoe-ui);
        }

        &::-moz-placeholder {
            color: #666666;
            font-family: var(--segoe-ui);
        }

        &:hover {
            border-color: #666666;
        }

        &:focus {
            border-color: rgb(var(--os-primary-color));
        }

        &[disabled] {
            background-color: #cccccc;
            color: #919191;
            border: solid 2px #cccccc;
        }
    }
}
