.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a6ea5;
}

os-window {
    ::ng-deep .window {
        width: 100vw;
        max-width: 450px;
    }
}

.element-wrapper {
    margin: 5px 0px;
}