<div class="wrapper">
    <div class="content">
        <h3>Os elements</h3>

        <div class="form">
            <os-field-row [stacked]="true">
                <os-text-box
                    [placeholder]="'For example John Smith'"
                    [label]="'Enter your first and last name'">
                </os-text-box>
            </os-field-row>

            <os-field-row [stacked]="true">
                <os-textarea-box
                    [placeholder]="'Tell about yourself'"
                    [label]="'Description'">
                </os-textarea-box>
            </os-field-row>

            <os-group-box
                [label]="'Choose your gender'">
                <os-radio-button
                    [label]="'Male'"
                    [name]="'gender'">
                </os-radio-button>
        
                <os-radio-button
                    [label]="'Female'"
                    [name]="'gender'">
                </os-radio-button>
            </os-group-box>

            <os-field-row>
                <os-slider
                    [label]="'Age'"
                    [minValueLabel]="'Min'"
                    [maxValueLabel]="'Max'"
                    [min]="14"
                    [max]="120"
                    [value]="18">
                </os-slider>
            </os-field-row>

            <os-field-row>
                <os-checkbox
                    [label]="'I agree to the processing of my personal data'">
                </os-checkbox>
            </os-field-row>

            <os-tab-group>
                <os-tab
                    [selected]="true"
                    [label]="'Tab 1'">
                    <os-selectbox>
                        <os-option>Item 1</os-option>
                        <os-option>Item 2</os-option>
                        <os-option [selected]="true">Item 3 - Selected by default</os-option>
                        <os-option>Item 4</os-option>
                    </os-selectbox>
                </os-tab>

                <os-tab
                    [selected]="false"
                    [label]="'Tab 2'">
                    Tab 2 content
                </os-tab>
            </os-tab-group>

            <os-button>
                Submit
            </os-button>
        </div>

        <os-window
            [title]="'Test window'">
            <os-button>Help</os-button>
            Content
        </os-window>

        <hr />

        <h3>Default html elements</h3>

        RandomText outside

        <button>Random button</button>
        <input type="checkbox" id="rnd-check1" />
        <label for="rnd-check1">Random checkbox</label>
    </div>
</div>