<div class="wrapper">
    <div class="content">
        <h3>Os elements</h3>

        <div class="form">
            <os-field-row
                [stacked]="true">
                <os-text-box
                    [placeholder]="'For example John Smith'"
                    [label]="'Enter your first and last name'">
                </os-text-box>
            </os-field-row>

            <os-field-row
                [stacked]="true">
                <os-textarea-box
                    [placeholder]="'For example John Smith'"
                    [label]="'Enter your first and last name'">
                </os-textarea-box>
            </os-field-row>

            <os-group-box
                [label]="'Choose your gender'">
                <os-radio-button
                    [label]="'Male'"
                    [name]="'gender'">
                </os-radio-button>
        
                <os-radio-button
                    [label]="'Female'"
                    [name]="'gender'">
                </os-radio-button>
            </os-group-box>
        
            <os-field-row>
                <os-checkbox
                    [label]="'I agree to the processing of my personal data'">
                </os-checkbox>
            </os-field-row>
        
            <os-button>
                Submit
            </os-button>
        </div>
        
        <hr />
        
        <h3>Default html elements</h3>
        
        RandomText outside

        <button>Random button</button>
        <input type="checkbox" id="rnd-check1" />
        <label for="rnd-check1">Random checkbox</label>
    </div>
</div>