.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    // background-color: silver;
    background-color: #ece9d8;
}

.content {
    width: 50%;
    margin: 25px;
}

h3 {
    margin: 0px;
}