<os-header [size]="5">
    Properties
</os-header>

<table *ngIf="component.inputsClass.length || component.outputsClass.length; else noPropsTemplate">
    <thead>
        <tr>
            <th>
                <os-text>Property</os-text>
            </th>
            <th>
                <os-text>Description</os-text>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let inputProp of component.inputsClass">
            <td class="prop-name-col">
                <os-text>@Input()</os-text>
                <os-text>{{ inputProp.name }}: {{ inputProp.type }}</os-text>
            </td>
            <td></td>
        </tr>

        <tr *ngFor="let outputProp of component.outputsClass">
            <td class="prop-name-col">
                <os-text>@Output()</os-text>
                <os-text>{{ outputProp.name }}: {{ outputProp.type }}</os-text>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<ng-template #noPropsTemplate>
    <os-text>No properties</os-text>
</ng-template>