<div class="title">
    <os-button (osClick)="onCollapseButtonClick()">
        <div
            class="collapse-text"
            [class.collapsed]="isCollapsed">
            &#62;
        </div>
    </os-button>

    <os-header [size]="5">
        Properties
    </os-header>
</div>

<div
    *ngIf="isCollapsed"
    class="content">
    <table *ngIf="component.inputsClass.length || component.outputsClass.length; else noPropsTemplate">
        <thead>
            <tr>
                <th>
                    <os-text>Property</os-text>
                </th>
    
                <th class="description-col">
                    <os-text>Description</os-text>
                </th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let inputProp of component.inputsClass">
                <td class="prop-name-col">
                    <os-text>@Input()</os-text>
                    <os-text>
                        public {{ inputProp.name }}: {{ inputProp.type }}
                    </os-text>
                </td>
    
                <td class="prop-metaInfo-col">
                    <os-text>
                        <span [innerHTML]="inputProp?.description"></span>
                    </os-text>
                </td>
            </tr>
    
            <tr *ngFor="let outputProp of component.outputsClass">
                <td class="prop-name-col">
                    <os-text>@Output()</os-text>
                    <os-text>
                        public {{ outputProp.name }}: {{ outputProp.type }}
                    </os-text>
                </td>
    
                <td class="prop-metaInfo-col">
                    <os-text>
                        <span [innerHTML]="outputProp?.description"></span>
                    </os-text>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #noPropsTemplate>
    <os-text>No properties</os-text>
</ng-template>