<div
    #WrapperElement
    class="wrapper">
    <p>hello-world-window works!</p>
    Custom data: {{ data }}

    <div
        [os-resizable]="{
            minWidth: 350,
            minHeight: 150,
            allowChangePosition: true,
            xAxisStyleName: 'marginLeft',
            yAxisStyleName: 'marginTop'
        }"
        class="test-resizable-block">
        This block is resizable
    </div>

    <os-button
        (osClick)="onDestroyButtonClick()">
        Destroy window
    </os-button>
</div>