.title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 0px;
}

table.content {
    width: 100%;
    margin-top: 8px;
    border-collapse: collapse;

    tr {
        border: solid 1px rgba(0, 0, 0, .05);
    }

    td {
        &.property-name-col {
            width: 250px;
            border: solid 1px rgba(0, 0, 0, .05);

            &::ng-deep xmp {
                display: inline-flex;
                font-family: unset;
                margin: 0px;
            }
        }

        height: 54px;
        padding: 4px;
        font-size: 14px;
    }
}
