:host {
    width: 100%;
    display: block;
    padding: 15px;
    box-sizing: border-box;

    @media (max-width: 950px) {
        .wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.title {
    text-align: center;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    padding: 30px;
    box-sizing: border-box;

    .card {
        margin: 7px;

        .icon {
            height: 96px;
            margin-bottom: 15px;
        }
    }
}
