<os-menu-bar-button
    [osMenuBar]="menuBar">
    Edit
</os-menu-bar-button>

<ng-template #menuBar>
    <div class="menu-bar">
        <os-menu-bar-item>Undo</os-menu-bar-item>

        <os-divider></os-divider>

        <os-menu-bar-item>Cut</os-menu-bar-item>
        <os-menu-bar-item>Copy</os-menu-bar-item>
        <os-menu-bar-item>Paste</os-menu-bar-item>
        <os-menu-bar-item>Delete</os-menu-bar-item>

        <os-divider></os-divider>

        <os-menu-bar-item>Select All</os-menu-bar-item>
    </div>
</ng-template>
