<os-dropdown>
    <ng-template #dropdownPlaceholder>
        <img
            class="placeholder-icon"
            height="100%"
            src="/assets/showcase/icons/components/theme.png" />

        <os-label class="os-placeholder">Color</os-label>
    </ng-template>

    <os-dropdown-item
        *ngFor="let accentColor of accentColors"
        (osClick)="colorChanged.emit(accentColor.value)">
        <div
            class="accent-color"
            [class.active]="isColorSelected(accentColor.value)"
            [style.backgroundColor]="accentColor.css">
        </div>
    </os-dropdown-item>
</os-dropdown>
