<ng-container *ngIf="(metaInfo$ | async) as metaInfo">
    <os-tree-view [isAllowSelection]="true">
        <os-form-field
            os-tree-view-header
            class="search-container">
            <os-text-box
                [placeholder]="'Search'"
                (osKeyUp)="onSearch($event)">
            </os-text-box>
        </os-form-field>

        <div os-tree-view-content>
            <ng-container *ngFor="let component of (filteredComponents$ | async)">
                <os-tree-node
                    (osSelected)="onComponentNodeSelected($event)">
                    <ng-template #nodeTemplate>
                        <div class="icon-wrapper">
                            <img
                                *ngIf="component.imageUrl"
                                class="icon"
                                [attr.src]="component.imageUrl" />
                        </div>
    
                        <os-text>{{ component.name }}</os-text>
                    </ng-template>
                </os-tree-node>
    
                <os-tree-node
                    *ngFor="let componentSection of componentSections"
                    [data]="componentSection"
                    [depth]="1">
                </os-tree-node>
            </ng-container>
        </div>
    </os-tree-view>
</ng-container>
