<os-tree-view
    [data]="nodes"
    [childrenHandler]="childrenHandler"
    [isAllowSelection]="true"
    (osNodeSelected)="onNodeSelected($event)">
    <os-form-field
        osTreeViewHeader
        class="search-container">
        <input
            osInput
            placeholder="Search"
            (keyup)="onSearch($event)" />
    </os-form-field>

    <ng-template
        osTreeViewNode
        [ngTemplateType]="nodeType"
        let-node>
        <os-tree-node
            [isExpandedByDefault]="node.isExpandedByDefault"
            [isSelectedByDefault]="node.isSelectedByDefault"
            [attr.id]="node.id"
            class="node">
            <os-label>{{ node.label }}</os-label>

            <div class="icon-wrapper">
                <img
                    *ngIf="node?.imageUrl"
                    class="icon"
                    [attr.src]="node.imageUrl" />
            </div>
        </os-tree-node>
    </ng-template>
</os-tree-view>
