:host {
    width: inherit;
    max-height: calc(100vh - 175px);
    position: sticky;
    display: flex;
    top: 0;
    padding: 5px;
    box-sizing: border-box;
}

.os-tree-view::ng-deep {
    .os-tree-node {
        &.os-selected {
            font-weight: bold;
        }

        &:not(.os-root-node) {
            font-style: italic;
        }
    }
}

.search-container {
    margin: 7px;
    box-sizing: border-box;
}

.node {
    width: 100%;
    display: flex;
    align-items: center;

    .icon-wrapper {
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        padding: 3px 3px 3px 0px;
        box-sizing: border-box;
        margin-right: 5px;
    
        .icon {
            height: 100%;
        }
    }
}

:host-context(.win98),
:host-context(.winXP) {
    .node-content .icon-wrapper {
        height: 22px;
    }
}