<ng-container *ngIf="(metaInfo$ | async) as metaInfo">
    <os-tree-view
        [data]="(nodes$ | async)"
        [isAllowSelection]="true"
        (osNodeSelected)="onNodeSelected($event)">
        <os-form-field
            os-tree-view-header
            class="search-container">
            <input
                osInput
                placeholder="Search"
                (keyup)="onSearch($event)" />
        </os-form-field>

        <ng-template
            #nodeContent
            let-node>
            <div class="node-content">
                <os-label>{{ node.label }}</os-label>

                <div class="icon-wrapper">
                    <img
                        *ngIf="node.data?.imageUrl"
                        class="icon"
                        [attr.src]="node.data.imageUrl" />
                </div>
            </div>
        </ng-template>
    </os-tree-view>
</ng-container>
