:host {
    width: inherit;
    max-height: 100vh;
    position: sticky;
    display: flex;
    top: 0;
    padding: 5px;
    box-sizing: border-box;
}

.search-container {
    margin: 7px;
    box-sizing: border-box;
}

.icon-wrapper {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 3px 3px 0px;
    box-sizing: border-box;
    margin-right: 5px;

    .icon {
        height: 100%;
    }
}
