<ng-container *ngIf="(selectedSection$ | async) as selectedSection">
    <ng-container [ngSwitch]="selectedSection.data.id">
        <file-explorer-desktop-section
            *ngSwitchCase="sectionEnum.Desktop">
        </file-explorer-desktop-section>
    
        <file-explorer-documents-section
            *ngSwitchCase="sectionEnum.Documents">
        </file-explorer-documents-section>
    
        <file-explorer-pictures-section
            *ngSwitchCase="sectionEnum.Pictures">
        </file-explorer-pictures-section>
    </ng-container>
</ng-container>
