:host {
    width: 100%;
    display: flex;
    background-color: rgb(var(--os-background-color));

    > * {
        width: 100%;
        height: 100%;
        display: block;

        &::ng-deep {
            .os-scroll-view {
                padding: 5px;
                box-sizing: border-box;
            }
    
            .os-grid-item::ng-deep {
                .os-label {
                    color: #000;
                    text-shadow: none;
                }
            }
        }
    }
}

:host-context(.win10) {
    background-color: #fff;
}
