.os-element {
    outline: none;

    img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
    }
}

.os-user-select-none {
    user-select: none;
}

a {
    color: inherit;
}
