.container {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--os-primary-color), .8);
    color: #fff;
    transition: box-shadow .3s ease;

    &.os-resizing {
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, .3);
        z-index: 2;
    }

    ::ng-deep os-resizer {
        background-color: rgb(var(--os-primary-color));
    }
}
