:host {
    display: block;
}

.search-container {
    padding: 7px;
}

.dropdown-icon {
    height: 100%;
    margin-right: 5px;
}

.clear-button {
    height: 95%;
    min-height: 95%;
    margin-left: auto;
    font-size: 11px;
}

.os-dropdown-item {
    white-space: nowrap;

    .component-icon {
        height: 32px;
        margin-right: 5px;
    }
    
    .component-description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        opacity: .6;
    }
}

.pagination-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px;

    .os-button {
        margin: 0px 2px;

        &.os-focused {
            font-weight: bold;
        }
    }
}
