.os-textarea-box {
    width: 100%;

    textarea {
        width: 100%;
        min-width: 70px;
        max-width: 100%;
        min-height: 30px;
        font-size: 11px;
        padding: 3px 4px;
        border: none;
        background-color: #ffffff;
        box-sizing: border-box;
        appearance: none;
        border-radius: 0;
        box-shadow: var(--border-field);

        &::-webkit-input-placeholder {
            font-size: 11px;
        }

        &::-moz-placeholder {
            font-size: 11px;
        }

        &:focus {
            outline: none;
        }

        &[disabled] {
            background: silver;
            color: grey;
        }
    }
}
