@import "./base/option.scss";

.os-list {
    width: 100%;
    display: block;
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: default;
    user-select: none;
    box-sizing: border-box;

    .os-scroll-view {
        height: 100%;
    }
}

.os-list-item {
    @include os-base-option;
}
