<div class="wrapper">
    <div class="header">
        <os-header [size]="2">
            Components
        </os-header>

        <os-text-box
            [placeholder]="'Search'"
            [isAutofocused]="true"
            (osKeyUp)="onSearch($event)">
        </os-text-box>
    </div>

    <os-grid [isHorizontalDirection]="true">
        <os-grid-item
            *ngFor="let component of (filteredComponents$ | async)"
            [data]="{
                label: component.name,
                iconUrl: component.imageUrl
            }"
            (osDblClick)="onOpenSectionButtonClick(component.type)">
        </os-grid-item>
    </os-grid>
</div>
