:host {
    width: inherit;
    position: sticky;
    display: block;
    top: 0;
    padding: 5px;
    box-sizing: border-box;
}

.icon-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    box-sizing: border-box;
    margin-right: 5px;
}

.icon {
    height: 100%;
}

os-tree-view::ng-deep ul {
    border: none !important;
}