:host {
    width: inherit;
    max-height: 100vh;
    position: sticky;
    display: flex;
    top: 0;
    padding: 5px;
    box-sizing: border-box;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    box-sizing: border-box;
    margin-right: 3px;
}

.icon {
    width: 20px;
    height: 20px;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px !important;
}
