.showcase-code-of-block {
    display: block;
}

:host ::ng-deep {
    > :first-child {
        margin-top: 7px;
    }

    > :last-child {
        margin-bottom: 7px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0px;
        font-weight: normal;

        &:not(:first-child) {
            margin-top: 14px;
        }
    }

    p {
        margin: 7px 0px;
    }

    code:not(.code-block) {
        font-family: inherit;
        background: rgba(var(--os-primary-color), .15);
        padding: 0px 5px;
        box-sizing: border-box;
        border-radius: 3px;
    }

    pre:not(.code-wrapper) {
        border-radius: 3px;
        background: rgba(0, 0, 0, .7);
        padding: 6px;
        box-sizing: border-box;
        color: #fff;

        code {
            background: transparent;
        }
    }

    pre.code-wrapper {
        overflow: auto;
        margin: 8px 0px;
    }

    a {
        color: rgba(var(--os-primary-color));
        text-decoration: underline;
        font-weight: bold;
    }

    table {
        width: 100%;
        margin-top: 8px;
        border-collapse: collapse;

        tr {
            border: solid 1px rgba(0, 0, 0, .05);
        }

        td {
            height: 54px;
            font-size: 14px;
        }

        td, th {
            text-align: left;
            padding: 4px;
        }
    }
}
