.window-telegram-style {
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    padding: 0px !important;

    my-app-title-bar-content {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background: #1f2936;
    }

    .os-title-bar {
        height: 26px;
        padding: 0px;
        border: none !important;
        border-radius: 0px !important;
        background: #1f2936 !important;
    }

    .os-title-bar-button.close {
        width: 31px;
        height: 26px;
        border-radius: 0px !important;
        background-color: #1f2936 !important;
        background-image: url(/assets/showcase/examples/dynamic-window/telegram-style/close-button.png);
        background-position: 0px 0px;

        &:hover {
            background-position: 0px -26px;
        }
    }

    .os-window-body {
        background: #0e1621;
        margin: 0px;
        user-select: none;
    }

    my-app {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .select-chat-info {
            width: 272px;
            height: 31px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1e2c3a;
            color: #fff;
            font-size: 16px;
            border-radius: 16px;
        }
    }
}
