:host {
    width: 100%;
}

.wrapper {
    display: flex;
    margin: 30px;

    > * {
        margin: 0px 5px;
    }
}

os-window::ng-deep .os-window {
    height: 100%;
}

.window-content {
    margin: 30px;

    os-text {
        font-size: 18px;
    }
}