<div class="wrapper">
    <os-window
        [title]="'High quality'"
        [isActive]="true">
        <div class="window-content">
            <os-text>
                Internationalized and accessible components for everyone. Well tested to ensure performance and reliability.
        
                Straightforward APIs with consistent cross platform behaviour.
            </os-text>
        </div>
    </os-window>

    <os-window
        [title]="'Frictionless'"
        [isActive]="true">
        <div class="window-content">
            <os-text>
                Provide tools that help developers build their own custom components with common interaction patterns.

                Customizable within the bounds of the Material Design specification.
            </os-text>
        </div>
    </os-window>

    <os-window
        [title]="'Versatile'"
        [isActive]="true">
        <div class="window-content">
            <os-text>
                Built by the Angular team to integrate seamlessly with Angular.

                Start from scratch or drop into your existing applications.
            </os-text>
        </div>
    </os-window>
</div>