<a [routerLink]="'/'">
    <os-text
        [style.color]="'#ffffff'"
        [style.fontWeight]="'bold'">
        OS Angular
    </os-text>
</a>

<a [routerLink]="'/' + routeEnum.Components">
    <os-button>
        Components
    </os-button>
</a>

<os-button
    [routerLink]="'/' + routeEnum.Desktop">
    Desktop
</os-button>

<div class="theme-selector">
    <os-selectbox
        (osChange)="onThemeChanged($event)">
        <os-option
            *ngFor="let theme of themes"
            [selected]="theme.cssName === appliedTheme"
            [value]="theme.cssName">
            {{ theme.name }}
        </os-option>
    </os-selectbox>
</div>