<a [routerLink]="'/'">
    <os-text
        [style.color]="'#ffffff'"
        [style.fontWeight]="'bold'">
        OS Angular
    </os-text>
</a>

<a [routerLink]="'/' + routeEnum.Components">
    <os-button>
        Components
    </os-button>
</a>

<a [routerLink]="'/' + routeEnum.Theming">
    <os-button>
        Theming
    </os-button>
</a>

<os-button
    [routerLink]="'/' + routeEnum.Desktop">
    Desktop
</os-button>

<div class="theme-selector">
    <os-selectbox
        [placeholder]="'Choose theme'"
        [value]="appliedTheme"
        [displayField]="'name'"
        (osChange)="onThemeChanged($event)">
        <os-option
            *ngFor="let theme of themes"
            [selected]="theme === appliedTheme"
            [value]="theme">
            {{ theme.name }}
        </os-option>
    </os-selectbox>
</div>

<div class="version">
    <os-text>version {{ libVersion }}</os-text>
</div>