<a
    class="logo"
    [routerLink]="'/'">
    <img
        class="icon"
        src="/assets/icons/icon.png" />
</a>

<a [routerLink]="getStartedPagePath">
    <os-button>
        Get Started
    </os-button>
</a>

<a [routerLink]="componentsPagePath">
    <os-button>
        Components
    </os-button>
</a>

<os-button [routerLink]="desktopPagePath">
    Desktop
</os-button>

<header-theme-settings
    class="theme-settings">
</header-theme-settings>

<div class="version">
    <os-text>v. {{ libVersion }}</os-text>
</div>

<img
    class="recommended-browser-icon"
    src="/assets/icons/chrome.svg"
    [attr.title]="recommendedBrowserText"
    (click)="onChromeIconClick()" />

<a
    class="github"
    target="_blank"
    href="https://github.com/dreyliky/ng-os">
    <img
        class="github-icon"
        src="/assets/icons/github.svg" />
</a>
