:host {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url('/assets/showcase/icons/icon.png');
    background-color: rgba(var(--os-primary-color), .8);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: contain;
    color: #ffffff;

    @media (max-width: 950px) {
        background-image: none;

        .components-showcase {
            width: 216px;
            height: 144px;
        }
    }
}

os-header {
    font-weight: bold;
    margin-bottom: 10px;
}

os-text {
    font-size: 20px;
}

.components-showcase {
    width: 432px;
    height: 72px;
    margin-top: 30px;
}
