<div class="wrapper">
    <div class="header">
        <os-header [size]="2">
            Components
        </os-header>

        <input
            osInput
            placeholder="Search"
            osAutofocus
            (keyup)="onSearch($event)" />
    </div>

    <os-grid
        [cellSize]="100"
        [direction]="gridDirection">
        <os-grid-item
            *ngFor="let component of (filteredComponents$ | async)"
            [osHint]="component.name"
            [label]="component.name"
            [iconUrl]="component.imageUrl"
            (dblclick)="onComponentDblClick(component.type)">
        </os-grid-item>
    </os-grid>
</div>
