:host {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.body {
    margin: 7px;
}

.os-form-field {
    max-width: 320px;
}

.buttons-wrapper {
    display: flex;
    flex-wrap: wrap;

    os-button {
        margin: 3px;
        margin-left: 0px;
    }
}
